<div class="text-center">
	<h1>My Shopping List</h1>
</div>

<% if (!items) { %>
<h4>List is Empty</h4>

<%} else { %>

<div class="table-responsive">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Item Names</th>
				<th scope="col">Quantity</th>
				<th scope="col">Where To Get</th>

				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<% items.forEach(item => { %>
			<tr onclick="style ='background-color: lightBlue !important;'">
				<td>
					<%=item.name %>
				</td>
				<td><%=item.quantity %></td>
				<td><%=item.where %></td>
				<td class="text-center">
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>

			<% }) %>
		</tbody>
	</table>
</div>

<% if(items) { %>

<div class="row">
	<div class="col ml-4">
		<button class="btn btn-success btn-lg">Save List</button>
	</div>
	<div class="col text-right mr-4">
		<button class="btn btn-danger btn-lg pull-right">
			Clear List
		</button>
	</div>
</div>

<%} }%>
