<div class="text-center">
	<h1>My Shopping List</h1>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Item Names</th>
				<th scope="col">Quantity</th>
				<th scope="col">Where To Get</th>

				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr onclick="style ='background-color: lightBlue !important;'">
				<td>
					Future Life High Protein cereal new new
				</td>
				<td>2</td>
				<td>Woolworth</td>
				<td class="text-center">
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
			<tr onclick="style ='background-color: lightBlue !important;'">
				<td>Mince</td>
				<td>1</td>
				<td>Spar</td>
				<td class="text-center">
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col ml-4">
		<button class="btn btn-success btn-lg">Save List</button>
	</div>
	<div class="col text-right mr-4">
		<button class="btn btn-danger btn-lg pull-right">
			Clear List
		</button>
	</div>
</div>
