<!-- 
    todo: Add Save Shopping list btn
    todo: clear Shopping list btn
    todo: Add Save Shopping list btn
    todo: Add List of all saved shopping lists
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Shopping List</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link
			href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<%- include('./includes/shopping-items.ejs') %>
			<%-include('./includes/add-item.ejs') %>
			<%-include('./includes/saved-shopping-lists.ejs') %>
		</div>
	</body>
</html>
